<div class="panel panel-default form-panel">
    <div class="panel-body">
        <div class="col-md-3">
            Pickup location:
        </div>
        <div class="col-md-3">
            Dropoff location:
        </div>
        <div class="col-md-3">
            Distance: {{distance}} km
        </div>
        <div class="col-md-3">
            Price: {{price | currency:"€":2}}
        </div>
    </div>
</div>
<leaflet id="mymap" center="center" markers="markers" height="100%" width="100%"></leaflet>
