html {
    height: 100%;
}

.angular-leaflet-map {
    height: 100%;
}

body {
    height: 100%;
}

.ng-scope {
    height: 100%;
    min-heig: 100%;
}

.app-container {
    height: 100%;
}

.navbar {
    height: 40px;
}

.form-panel {
    height: auto;
}

.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}
